
body{
  margin:20px 20px 20px 20px;
}
h1{
  text-align: center;
}
li{
  list-style: none;
}

.orderTracker{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #d3d3d3;
}
.logo{
  background-image: url('http://placehold.it/220x150');
  overflow: hidden;
  width: 100%;
  height: 100px;
}
.sorbTiles{
  height:219px;
}
.col-md-12{
  height:100%;
}
.toppingImg{
  height:100px;
}
.btn{
  margin-top: 100px;
  width:100%;
  height: 100px;

}
.sliderRow{
  margin-top: 100px;
}
.toppingRow{
  height:100%;
}
.card-img-top{
width: 100%;
}
