
body{
  margin:20px 20px 20px 20px;
}
li{
  list-style: none;
}
.orderTracker{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #d3d3d3;
}
.logo{
  background-image: url('http://placehold.it/220x150');
  overflow: hidden;
  width: 100%;
  height: 100px;
}
.card-img-top{
width: 100%;
}
.rice{
  max-width: 100%;
  max-height:inherit;
}
