<!DOCTYPE html>
<html>
  <body ng-controller = "baseController">
<h1>Choose your rice</h1>
<div class="row">
  <div class="col-md-6 guest">
    <div class="col-md-12">

    <span><a href="#protien">
    <div class="card">
      <img class="card-img-top rice" src="../styles/images/rice-bowl-cartoon-cartoon-rice-bowl-clipart-sns1JH-clipart.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">White</h4>
        </div>
      </div>
    </a></span>
    </div>
  </div>

  <div class="col-md-6 guest">
    <div class="col-md-12">

    <span><a href="#protien">
    <div class="card">
      <img class="card-img-top" src="../styles/images/A_bowl_brown_rice_101111-208219-215009.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Brown</h4>
        </div>
      </div>
    </a></span>
    </div>
  </div>

</div>
  </body>
</html>
