<!DOCTYPE html>
<html>
  <body ng-controller = "SorBController">
    <h1>Finish and Pay</h1>
    <div class="row">
      <div class="col-md-1">
        <a href="#topping">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-menu-left"></span>
          </button>
        </a>
      </div>
      <div class="col-md-5 guest">
        <div class="col-md-12">

        <span><a href="#SorB">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Continue ordering</h4>
            </div>
          </div>
        </a></span>
        </div>
      </div>

      <div class="col-md-5 guest">
        <div class="col-md-12">

        <span ng-click = "congrats()"><a href="#loginDecision">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Finish and Pay</h4>
            </div>
          </div>
        </a></span>
        </div>
      </div>
      <div class="col-md-1">
      </div>
  </div>
  </body>
</html>
