<!DOCTYPE html>
<html>
<body ng-controller = "loginDecisionController">
  <h1>Welcome to Fingers and forks</h1>
  <div class="row">
    <div class="col-md-6 guest">
      <div class="col-md-12">
        <span><a href="#SorB">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Order without logging in</h4>
              <p class="card-text">Logging in has benefits and this part will tell you what they are</p>
            </div>
          </div>
        </a></span>
      </div>
    </div>
    <div class="col-md-6 guest">
      <div class="col-md-12">
        <span ng-click = "authenticate()"><a href="#SorB">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Log In</h4>
            </div>
          </div>
        </a></span>
      </div>
    </div>
  </div>

</body>
</html>
