<!DOCTYPE html>
<html>
  <body ng-controller = "protienController">
    <h1>Chicken or Beef?</h1>
    <div class="row">
      <div class="col-md-1">
        <a href="#base">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-menu-left"></span>
          </button>
        </a>
      </div>
      <div class="col-md-5 guest">
        <div class="col-md-12">

        <span><a href="#topping">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Chicken</h4>
            </div>
          </div>
        </a></span>
        </div>
      </div>

      <div class="col-md-5 guest">
        <div class="col-md-12">

        <span><a href="#topping">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Beef</h4>
            </div>
          </div>
        </a></span>
        </div>
      </div>
      <div class="col-md-1">

      </div>

  </div>
  </body>
</html>
