<!DOCTYPE html>
<div class="row">
  <div class="col-md-1">
    <a href="#SorB">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-menu-left"></span>
      </button>
    </a>
  </div>
  <div class="col-md-10">
    <div class="row sliderRow">
      <div class="col-md-3 guest">
        <div class="col-md-12">
          <span><a href="#finish">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Slider 1</h4>
              </div>
            </div>
          </a></span>
        </div>
      </div>
      <div class="col-md-3 guest">
        <div class="col-md-12">
          <span><a href="#finish">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Slider 2</h4>
              </div>
            </div>
          </a></span>
        </div>
      </div>
      <div class="col-md-3 guest">
        <div class="col-md-12">
          <span><a href="#finish">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Slider 3</h4>
              </div>
            </div>
          </a></span>
        </div>
      </div>
      <div class="col-md-3 guest">
        <div class="col-md-12">
          <span><a href="#finish">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Slider 4</h4>
              </div>
            </div>
          </a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <a href="#SorB">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </a>
  </div>

</div>
