<!DOCTYPE html>
<html>
  <body ng-controller = "SorBController">
    <h1>slider or bowl</h1>
    <div class="row">

      <div class="col-md-1">
        <a href="#loginDecision">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-menu-left"></span>
          </button>
        </a>
      </div>

      <div class="col-md-5 sorbTiles">
        <div class="col-md-12">

        <span><a href="#slider">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Slider</h4>
            </div>
          </div>
        </a></span>
        </div>
      </div>

      <div class="col-md-5 sorbTiles">
        <div class="col-md-12">

        <span><a href="#base">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Bowl</h4>
            </div>
          </div>
        </a></span>
        </div>
      </div>
      <div class="col-md-1">
    </div>
  </div>
  </body>
</html>
